<aside class="sidebar">
  <div class="sidebar-brand">
    <div class="brand-logo">🐾</div>
    <div>
      <div class="brand-name">VetCore</div>
      <div class="brand-sub">Clínica Huellitas</div>
    </div>
  </div>

  <div class="sidebar-role" *ngIf="usuario as u">
    <span class="role-label">Rol autenticado</span>
    <div class="role-badge">{{ u.rol }}</div>
  </div>

  <nav class="sidebar-nav">
    <span class="nav-section">General</span>


    <a [routerLink]="authService.rutaHomePorRol()"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >
    <span class="nav-icon">▦</span> Dashboard
    </a>

    <span class="nav-section">Gestión</span>

    <!-- Menú Admin -->
    <ng-container *ngIf="authService.tieneRol('Admin')">
      <a routerLink="/admin/citas" routerLinkActive="active"><span class="nav-icon">🗓</span> Citas</a>
      <a routerLink="/admin/mascotas" routerLinkActive="active"><span class="nav-icon">🐾</span> Mascotas</a>
      <a routerLink="/admin/clientes" routerLinkActive="active"><span class="nav-icon">👤</span> Clientes</a>
      <a routerLink="/admin/veterinarios" routerLinkActive="active"><span class="nav-icon">⚕</span> Veterinarios</a>
      <a routerLink="/admin/pagos" routerLinkActive="active"><span class="nav-icon">💳</span> Pagos</a>
      <a routerLink="/admin/historial-medico" routerLinkActive="active"><span class="nav-icon">📋</span> Historial médico</a>
    </ng-container>

    <!-- Menú Veterinario -->
    <ng-container *ngIf="authService.tieneRol('Veterinario')">
      <a routerLink="/veterinario/citas" routerLinkActive="active"><span class="nav-icon">🗓</span> Mis citas</a>
      <a routerLink="/veterinario/historial-medico" routerLinkActive="active"><span class="nav-icon">📋</span> Historial médico</a>
    </ng-container>

    <!-- Menú Cliente -->
    <ng-container *ngIf="authService.tieneRol('Cliente')">
      <a routerLink="/cliente/mis-mascotas" routerLinkActive="active"><span class="nav-icon">🐾</span> Mis mascotas</a>
      <a routerLink="/cliente/mis-citas" routerLinkActive="active"><span class="nav-icon">🗓</span> Mis citas</a>
    </ng-container>
  </nav>

  <div class="sidebar-footer" *ngIf="usuario as u">
    <div class="avatar">{{ inicial(u.nombre) }}</div>
    <div class="footer-info">
      <div class="footer-name">{{ u.nombre }} {{ u.apellido }}</div>
      <div class="footer-role">{{ u.rol }}</div>
    </div>
    <button class="logout-icon" (click)="logout()" title="Salir">⏻</button>
  </div>
</aside>
